@using Microsoft.AspNetCore.Identity
@using GameBox.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
         <a id="add-game" class="nav-link text-light nav-btn-borders" asp-controller="GameModels" asp-action="Create" title="Add A Game">+ Add Game</a>
    </li>
    <li class="nav-item user-menu">
        <div class="nav-link text-light nav-btn-borders">
            <span class="user-greeting">Hello @UserManager.GetUserName(User)!</span>
            <div id="user-dropdown">
			    <a id="manage" class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Settings</a>

                <div class="nav-link text-light" onclick="alert(`This feature is still in the works. Please check back later.`)">My Games</div>
		
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-light border-0">Logout</button>
                </form>
            </div>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
